body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}
#root{
  height: 100%;
  width: 100%;
}

.App{
  height: 100%;
  width: 100%;
  background-color: gainsboro;
  overflow: hidden;
}
.div{
  display: flex;
}

.field{
  position: relative;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;
  .row{
    .cell{
      border: 1px black solid;
      height: 20px;
      width: 20px;
    }
  }
}
.colors{
  height: 20px;
  width: 100vw;
  position: absolute;
  left: 0;
  top: calc(100% - 20px);
  background-color: green;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;

  .color{
    margin: 1px;
    height: 5px;
    width: 5px;
    padding: 1px;
    box-sizing: border-box;
  }
  .selected{
    border: 0.5px dashed black;
  }
}